<ion-header>
  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>I agree to the <a href="#">terms of service</a></ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block large (click)="signIn()">Sign In</button>
  </div>

  <div padding center>
    <button ion-button clear (click)="forgotPassword()">Forgot Password?</button>
  </div>

</ion-content>
