<!--
  Generated template for the Appointment page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card color="light">
    <ion-card-content>
      <ion-card-title>
        <h2>07 June 2017 01:00 PM.</h2>
        <h3>Doctor: Adisak M.D.</h3>
        <h3>Location: Royal Life Center</h3>
      </ion-card-title>
      <p>
        	BWC ตรวจและปรึกษา (Checkup and Consult)
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-content>
      <ion-card-title>
        <h2>15 July 2017 09:00 AM.</h2>
        <h3>Doctor: Adisak M.D.</h3>
        <h3>Location: Royal Life Center</h3>
      </ion-card-title>
      <p>
        	BWC ตรวจและปรึกษา (Checkup and Consult)
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
