<!--<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openPage(loginPage)">
        Login
      </button>
      <button ion-item (click)="openPage(signupPage)">
        Signup
      </button>
    </ion-list>
  </ion-content>
</ion-menu>-->

<ion-tabs #content [selectedIndex]="2">
  <ion-tab [root]="tab1Root" tabTitle="Doctor" tabIcon="medical"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Package" tabIcon="basket"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Me" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="History" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Map" tabIcon="map"></ion-tab>
</ion-tabs>
