<ion-header>

  <ion-navbar>
    <ion-title>Forgot Passcode</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Email*</ion-label>
      <ion-input type="email" [(ngModel)]="email" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>HN*</ion-label>
      <ion-input type="text" [(ngModel)]="hn" required ></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block large (click)="forgotPassword()">Get new Passcode</button>
  </div>
</ion-content>
