<ion-header>

  <ion-navbar>
    <ion-title>My Package</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <button ion-item (click)="goToPackage()">
      LASIK Package
    </button>
    <button ion-item (click)="goToPackage()">
      Man Arabic Health Checkup Package
    </button>
    <button ion-item (click)="goToPackage()">
      BASEM Package
    </button>
    <button ion-item (click)="goToPackage()">
      Chest Package
    </button>
    <button ion-item (click)="goToPackage()">
      EYE Surgery Package
    </button>
    <button ion-item (click)="goToPackage()">
      ENT Package
    </button>
    <button ion-item (click)="goToPackage()">
      Neurology Package
    </button>
  </ion-list>

</ion-content>
