page-profile {
    ion-card {
        img {
            width: 30%;
            margin: auto;
        }
    }

    ion-avatar {
        img {
            width: 30%;
            margin: auto;
            border-radius: 50%;
        }
    }

    [profile] {
        text-align: center;
    }

    ion-icon[name="checkmark-circle-outline"] {
        color: green;
    }
    ion-icon[name="paper"] {
        color: #007fff;
    }
}