<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToSetting()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/images/avatar.jpg"/>
        </ion-col>
        <ion-col col-8>
            <p><b>Muhammad Kamran</b></p>
            <p>HN: XX-XX-XXXXXXX</p>
            <p>Birth Date: 07/07/1983</p>
            <p>Email: smkamranqadri@yahoo.com</p>
            <p>Tel: +923008203588</p>
            
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <button ion-button full icon-left (click)="goToAppointment()">
              <ion-icon name="calendar"></ion-icon>
              Next appointment
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-card>
        <ion-card-header>
          Examinations Today
          <h3>Episode: O01-17-8374648</h3>
        </ion-card-header>

        <ion-list>
          <button ion-item (click)="presentActionSheet()">
            Item A
            <h3>Location</h3>
            <p>Short Description</p>
            <ion-icon name="checkmark-circle-outline" item-right></ion-icon>
            <ion-icon name="paper" item-right></ion-icon>
          </button>
          <button ion-item (click)="presentActionSheet()">
            Item B
            <h3>Location</h3>
            <p>Short Description</p>
            <ion-icon name="checkmark-circle-outline" item-right></ion-icon>
            <ion-icon name="paper" item-right></ion-icon>
          </button>
          <button ion-item (click)="presentActionSheet()">
            Item C
            <h3>Location</h3>
            <p>Short Description</p>
            <ion-icon name="checkmark-circle-outline" item-right></ion-icon>
            <ion-icon name="paper" item-right></ion-icon>
          </button>
          <button ion-item (click)="presentActionSheet(false)">
            Item D
            <h3>Location</h3>
            <p>Short Description</p>
            <ion-icon name="checkmark-circle-outline" item-right></ion-icon>
          </button>
          <button ion-item (click)="presentActionSheet(false)">
            Item E
            <h3>Location</h3>
            <p>Short Description</p>
            <ion-icon name="checkmark-circle-outline" item-right></ion-icon>
          </button>
          <button ion-item (click)="presentActionSheet(false)">
            Item F
            <h3>Location</h3>
            <p>Short Description</p>
          </button>
          <button ion-item (click)="presentActionSheet(false)">
            Item G
            <h3>Location</h3>
            <p>Short Description</p>
          </button>
          <button ion-item (click)="presentActionSheet(flase)">
            Item H
            <h3>Location</h3>
            <p>Short Description</p>
          </button>
          <button ion-item disabled (click)="presentActionSheet(false)">
            Payment
            <h3>Location</h3>
            <p>Short Description</p>
          </button>
          <button ion-item disabled (click)="presentActionSheet(false)">
            Medical Recieve
            <h3>Location</h3>
            <p>Short Description</p>
          </button>
        </ion-list>
      </ion-card>

</ion-content>
