<ion-content padding>

  <div padding center>
    <img logo src="assets/images/logo.png" />
  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block large (click)="goToGetPassword()">Get Password</button>
      </ion-col>
      <ion-col>
        <button ion-button block large (click)="goToLogin()">Login Existing</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>