page-home {

    ion-content {
        background: url('/assets/images/bg.jpg') no-repeat center;
        background-size:100%;
    }
    
    [center] {
        text-align: center;
    }
    
    img[logo] {
        width: 100%;
    }

}