<ion-header>

  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <button ion-item (click)="goToGetHistory()">
      <ion-icon name="paper" item-left></ion-icon>
        2017-04-01
    </button>
    <button ion-item (click)="goToGetHistory()">
      <ion-icon name="paper" item-left></ion-icon>
        2016-04-01
    </button>
    <button ion-item (click)="goToGetHistory()">
      <ion-icon name="paper" item-left></ion-icon>
        2015-04-01
    </button>
    <button ion-item (click)="goToGetHistory()">
      <ion-icon name="paper" item-left></ion-icon>
        2014-04-01
    </button>
  </ion-list>

</ion-content>
