<!--
  Generated template for the Map page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Map</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar></ion-searchbar>
  <img src="assets/images/map-sample.png" />
</ion-content>
