// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
  background-color: #669edb;
}
.toolbar-title {
    color: white;
}
.bar-button {
    color: white;
}
.button-ios, .button-md {
    background: #669edb;
}
.button-ios.button-clear-ios, .button-md.button-clear-md {
    background-color: transparent;
}
.segment-ios .segment-button.segment-activated {
    background: #669edb;
}
[center] {
    text-align: center;
}
[text-right] {
    text-align: right;
}
[red] {
    color: red;
}