<ion-header>

  <ion-navbar>
    <ion-title>Adisak M.D.</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-avatar>
                <img src="assets/images/avatar.jpg"/>
              </ion-avatar>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <p>
              <b>Medical Education</b><br/>
              D.D.S., Faculty of Dentistry,Chulalongkorn University<br/>
              Certificate in Oral Pediatrics, Temple University, USA
            </p>

            <p><b>Specialties</b></p>
            <ul>
              <li>General Dentistry</li>
              <li>Pediatric Dentistry</li>
            </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>Doctor's Schedule</b>

          <ion-row>
            <ion-col col-2><b>Day</b></ion-col>
            <ion-col col-3><b>Time</b></ion-col>
            <ion-col col-7><b>Location</b></ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>TUE</ion-col>
            <ion-col col-3>09:00 - 12:00</ion-col>
            <ion-col col-7>Dental Department</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>WED</ion-col>
            <ion-col col-3>09:00 - 12:00</ion-col>
            <ion-col col-7>Dental Department</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>THU</ion-col>
            <ion-col col-3>09:00 - 12:00</ion-col>
            <ion-col col-7>Dental Department</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>FRI</ion-col>
            <ion-col col-3>09:00 - 12:00</ion-col>
            <ion-col col-7>Dental Department</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>SAT</ion-col>
            <ion-col col-3>09:00 - 12:00</ion-col>
            <ion-col col-7>Dental Department</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2>SUN</ion-col>
            <ion-col col-3>09:00 - 12:00</ion-col>
            <ion-col col-7>Dental Department</ion-col>
          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
