<ion-header>

  <ion-navbar>
    <ion-title>Doctor</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToFilter()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-item-group>
    <ion-item-divider color="light">A</ion-item-divider>
    <button ion-item (click)="goToDoctorProfile()">
      <ion-avatar item-left>
        <img src="assets/images/avatar.jpg"/>
      </ion-avatar>
      Adisak M.D.
      <h3>Emergency Medicine</h3>
    </button>
    <button ion-item (click)="goToDoctorProfile()">
      <ion-avatar item-left>
        <img src="assets/images/avatar.jpg"/>
      </ion-avatar>
      Adisorn M.D.
      <h3>Obstetrics And Gynaecology</h3>
    </button>
    <button ion-item (click)="goToDoctorProfile()">
      <ion-avatar item-left>
        <img src="assets/images/avatar.jpg"/>
      </ion-avatar>
      Aekachai M.D.
      <h3>Orthopedics</h3>
    </button>
    <button ion-item (click)="goToDoctorProfile()">
      <ion-avatar item-left>
        <img src="assets/images/avatar.jpg"/>
      </ion-avatar>
      Akaporn M.D.
      <h3>Surgery</h3>
    </button>
    <button ion-item (click)="goToDoctorProfile()">
      <ion-avatar item-left>
        <img src="assets/images/avatar.jpg"/>
      </ion-avatar>
      Anusit M.D.
      <h3>General Radiology</h3>
    </button>
    <ion-item-divider color="light">B</ion-item-divider>
  </ion-item-group>
</ion-content>
