<ion-header>
  <ion-toolbar>
    <button bar-button (click)="dismiss()">
        Close
    </button>
    <ion-title>Terms of service</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="row">
			<div class="content col-md-9">
				<h3><strong>BANGKOK DUSIT MEDICAL SERVICES</strong></h3>
        <h3><strong>Privacy Pledge</strong></h3>
          <p>Your privacy is important to us and we want you to feel comfortable visiting our site. Any personal information that you give to us, including your e-mail address, will be used only in the following ways:</p>
          <p>While visiting our site, if you give us personal data in order to receive information from us, we will collect and store that personal data. Unless stated otherwise herein, we will not provide your personal data to any third party without your permission. We do not automatically collect your personal e-mail address simply because you visit our site.</p>
          <p>If we partner with a third party to provide services and you sign up for those services, we will share your name and other contact information necessary for our partner to provide the services to you.</p>
          <p>If you view specific pages or download information from specific pages on our site, we will track and add the number of your visits to the aggregate number of visits by all users in order to better design our site. We may share aggregate demographic information with our partners. This is not linked to any personal information that can identify you or any other visitor to our web site.</p>
          <p>By using this site, you consent to the collection and use of your personal information as detailed in this Privacy Pledge. We will post any changes to this Privacy Pledge on this site so that you always know what information we collect and how we use it.</p>
        <h3><strong>Social Media Policy</strong></h3>
          <p>Samitivej Hospital Group (“<strong>Samitivej</strong>”) has opened publicly facing pages on social media sites to provide a friendly, informative and engaging community for users of these social media sites. Samitivej encourages you to comment and share your opinions and stories in a courteous and respectful manner. These social media sites include but are not limited to Facebook, Twitter, YouTube, website online feedback form or other social media sites (“<strong>Social Media Sites</strong>”).</p>
          <p>By accessing, viewing and/or posting any content on any Social Media Site, you agree to the following terms of use.</p>
          <p><strong>Information is not a substitute for specific medical advice</strong></p>
          <p>Content, such as words, pictures and other material found on the Social Media Sites, is for informational use only. The information is not to replace a consultation with your health care provider. Please discuss all specific medical questions and concerns with your health care provider.</p>
          <p><strong>Exercise caution when sharing personal information</strong></p>
          <p>The Social Media Sites are public forums and whatever information you share will be viewed by others and may be archived by various third parties. Samitivej does not have the ability to monitor, intercept or otherwise remove your content from those third parties. Please consider this carefully before posting detailed personal information.</p>
          <p><strong>Prohibited Manners</strong></p>
          <p>To maintain a courteous and respectful environment, the following types of comments, posts or contents are prohibited:</p>
          <ul>
            <li>Content that violates any applicable laws and regulations, including copyright and trademark laws</li>
            <li>Content that is unlawful, threatening, offensive, profane, abusive, harassing, embarrassing, tortious, defamatory, libelous, obscene, or is an invasion of another’s privacy, is hateful or racially, ethnically or otherwise objectionable as solely determined in Samitivej’s discretion</li>
            <li>Content that you do not have a right to make available under any law or under contractual or fiduciary relationships</li>
            <li>Content that contains viruses, worms, disabling code, or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment</li>
            <li>Unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes” or any other form of solicitation</li>
            <li>Content that is personal health information, including patient images</li>
          </ul>
          <p>You are also prohibited from using the Social Media Sites to provide medical advice or medical commentary by non-Samitivej doctors or to use the Social Media Sites to make referral to doctors who are not employed by Samitivej.</p>
          <p>You will not impersonate any other person, or falsely state or otherwise misrepresent your affiliation with a person or entity.</p>
          <p>Samitivej reserves the right to monitor, prohibit, restrict, block, suspend, or terminate your access to any Social Media Sites, at any time, without notice and for any reason in its sole discretion. Samitivej may remove, delete, block, filter or restrict by any other means any content in its sole discretion.</p>
          <p><strong>Disclaimers</strong></p>
          <p>Samitivej provides the Social Media Sites using a commercially reasonable level of skill and care and hopes that you will enjoy using them. HOWEVER, ANY INFORMATION CONTAINED ON OR PROVIDED THROUGH SOCIAL MEDIA SITES IS PROVIDED ON AN “AS IS” BASIS AND IS INTENDED FOR GENERAL CONSUMER UNDERSTANDING AND EDUCATION. ANY ACCESS TO THE SOCIAL MEDIA SITES IS VOLUNTARY AND AT YOUR SOLE RISK. While Samitivej makes reasonable efforts to monitor and moderate posted content, it does not moderate all comments and cannot always respond in a timely manner to online requests for information.</p>
          <p>Opinions and views expressed by individuals as postings on the Social Media Sites are not necessarily those of Samitivej, its officers, directors, employees or staff.</p>
          <p>Samitivej does not guarantee continuous, uninterrupted or secure access to the Social Media Sites. Operation of these sites may be interfered with by numerous factors outside of Samitivej’s control. Samitivej does not warrant that files available for downloading through these websites will be free of infections or viruses, worms, Trojan horses or other code that contains contaminating or destructive properties.</p>
          <p>Samitivej reserves the right at any time to modify or discontinue any of the Social Media Sites with or without notice.</p>
          <p><strong>Third Parties’ Links</strong></p>
          <p>Samitivej is not responsible for the content of any third parties’ linked websites and such linkage does not constitute endorsement of those sites by Samitivej.</p>
          <p><strong>Indemnity</strong></p>
          <p>You will defend, indemnify, and hold harmless Samitivej Hospital Group and their respective officers, directors, employees, agents, successors and assigns from and against any losses, claims, damages, settlements, costs, and liabilities of any nature whatsoever (including reasonable attorneys’ fees) arising out of or in connection with, any activity you have undertaken on the Social Media Sites.</p>
          <p><strong>Change</strong></p>
          <p>This Policy may be updated at any time without notice, and each time a user accesses a Social Media Site, the new policy will govern, usage, effective upon posting. By continuing to post any content after such new terms are posted, you accept and agree to any and all such modifications to this Policy.</p>
          <p><strong>Governing Law and Jurisdiction</strong></p>
          <p>This Policy will be governed by and construed in accordance with the laws of Thailand. All claims arising out of or relating to this Policy will be subject to the exclusive jurisdiction of Thai courts.</p>
        <h3><strong>Security</strong></h3>
          <p>This site takes every precaution to protect our customers’ information. When you submit confidential information via this site, your information is kept in a secure environment both online and off-line. Messages that you send to us by e-mail however may not be secure. If you choose to send any confidential information to us via e-mail, you accept the risk that a third party may intercept and use this information.</p>
        <h3><strong>Links</strong></h3>
          <p>This web site contains links to other sites. Please be aware that we are not responsible for the privacy practices of any linked sites. We encourage users who leave our site to read the privacy statements of each and every linked web site that they choose to visit.</p>
          <p>All links to external sites are provided for your convenience. The information, products and advertisements contained in the linked sites are neither approved nor endorsed by us and we are not responsible for such information, products or advertisements.</p>
        <h3><strong>No Warranties or Representations</strong></h3>
          <p>We make no warranty whatsoever, express or implied, including any warranty as to accuracy, completeness or timeliness, concerning the information or views available at or through this web site, and you should not assume that such information is accurate, complete or the most up-to-date information available. We shall not be liable to you or anyone else in any way for any loss, claim or damages, including without limitation, consequential loss, business interruption, loss of information or program or any other information in your system, caused in whole or in part by our providing or your using any of the information at or through this web site.</p>
			</div>
		</div>
</ion-content>
