<ion-header>

  <ion-navbar>
    <ion-title>Patients</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <ion-list>
    <button ion-item *ngFor="let item of items; let i = index;" (click)="gotoProfile(i + 1)">
      <ion-avatar item-left>
        <img src="assets/images/avatar.jpg">
      </ion-avatar>
      <h2>Patients #{{ i + 1 }}</h2>
      <p>Description</p>
    </button>
  </ion-list>

</ion-content>
