<ion-header>
  <ion-navbar>
    <ion-title>Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>

    <ion-item>
      <ion-label stacked>HN</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>First name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block (click)="search()">Search</button>
  </div>

</ion-content>
