
<ion-header>

  <ion-navbar>
    <ion-title>Result</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          
        </ion-col>
        <ion-col>
          <b>Report</b>
        </ion-col>
        <ion-col>
          <b>Optimal Value</b>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>FBS</b>
        </ion-col>
        <ion-col>
          90
        </ion-col>
        <ion-col>
          (70 - 99 mg/dL)
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <b>HbA1C</b>
        </ion-col>
        <ion-col>
          None
        </ion-col>
        <ion-col>
          < 5.6 %
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div padding>
    <p><b>Fasting Blood Sugar (FBS)</b> measures the blood glucose levels after a fast of at least 8 hours. The results are used
    to diagnose diabetes, which occurs when the FBS is more than or equal to 126mg/dl on two separate
    occasions.</p>

    <p><b>Hemoglobin A1C (HbA1C)</b> measures blood glucose levels over three months and monitors this level for people
    with diabetes. When HbA1C is reduced by 1%, the risk of complications (eye disease, kidney disease and
    nerve damage) is reduced by 35%, the risk of stroke is reduced by 14% and the risk of diabetes related death is
    reduced by 21%. The HbA1C level should be checked 2-4 times a year (once every 3-6 months) to test for
    diabetes.</p>

    <p>The HbA1C level should be no more than 7% and if the level is at 6.5%, it is considered a good control. Having a high blood glucose level for a long period of time can damage the eyes, heart, kidney, nerves and.
    blood vessels. Diabetes is a chronic disease that cannot be completely cured and there are serious complications
    arising from diabetes. Because diabetic patients do not have any symptoms of high glucose levels in the blood, diagnosis may be difficult in the earlier stages. It is therefore essential to diagnose this diabetes as soon as
    possible to avoid any complications.
    Candidates for blood test to check for diabetes are those who have symptoms of diabetes, those with family
    history of diabetes, obese people, those who are above the age of 40 years, those with high blood pressure
    (140/90 mmHg) and those with HDL cholesterol less than 35mg/dl or with TG (Triglyceride) level that is higher
    than 250 mg/dl. Those who have had high blood sugar level during pregnancy and babies with birth weight
    more than 4 kgs should test their blood for diabetes every 2-3 years.</p>
  </div>

</ion-content>    
               
         