<ion-header>

  <ion-navbar>
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
    <ion-item-group>
      <ion-item-divider color="light"></ion-item-divider>
      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select [(ngModel)]="language">
          <ion-option>English</ion-option>
          <ion-option>Thai</ion-option>
          <ion-option>Arabic</ion-option>
        </ion-select>
      </ion-item>
      <button ion-item (click)="goToPasscode()">
        Passcode
      </button>

      <ion-item-divider color="light"></ion-item-divider>
      <button ion-item (click)="goToAbout()">
        About
      </button>

    </ion-item-group>

</ion-content>
