<ion-header>

  <ion-navbar>
    <ion-title>Get Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Email*</ion-label>
      <ion-input type="email" [(ngModel)]="email" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>HN*</ion-label>
      <ion-input type="text" [(ngModel)]="hn" required ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>I agree to the <a href="#">terms of service</a></ion-label>
      <ion-checkbox [(ngModel)]="agree" (ionChange)="agreeChange()"></ion-checkbox>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block large (click)="getPassword()">Get Password</button>
  </div>

</ion-content>
