<ion-header>

  <ion-navbar>
    <ion-title>Examination List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-item-group>
    
    <ion-item-divider color="light">Health Checkup Package</ion-item-divider>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            Blood Sugar
          </ion-col>
          <ion-col text-right>
            
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            Ketone (urine)
          </ion-col>
          <ion-col text-right>
            Negative
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            Bilirubin (urine)
          </ion-col>
          <ion-col text-right>
            Negative
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            Erythrocyte (urine)
          </ion-col>
          <ion-col text-right>
            Negative
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col red>
            Urobi'
          </ion-col>
          <ion-col text-right red>
            1+(1 mg/dL)
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            Leucocyte
          </ion-col>
          <ion-col text-right>
            Negative
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            WBC (urine)
          </ion-col>
          <ion-col text-right>
            0-1 Cells/HPS
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            RBC (urine)
          </ion-col>
          <ion-col text-right>
            0-1 Cells/HPS
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col>
            Squamous Epithelial Cell
          </ion-col>
          <ion-col text-right>
            0-1 Cells/HPS
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    <button ion-item (click)="goToGetresult(1)">
      <ion-grid>
        <ion-row>
          <ion-col red>
            Bacteria
          </ion-col>
          <ion-col text-right red>
            Few
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon name="paper" item-right></ion-icon>
    </button>
    
  </ion-item-group>

</ion-content>